.experiences-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    max-height: 80vh;
    overflow: visible;
}

.languages-carousel {
    opacity: 0;
    transition: opacity 1s ease;
    position: relative;
    top: -68vh;
    width: 100%;
    overflow: hidden;
    background: transparent;
}

.carousel-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 25s linear infinite;
}

.carousel-track img {
    position: relative;
    width: 3vw;
    height: auto;
    margin: 0 2vw;
}

.work,
.projects {
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
}

.experiences-container h1 {
    position: relative;
    font-family: "Poppins", sans-serif;
    font-size: 5em;
    color: #4a4a4a;
}

.experiences-container h2 {
    font-weight: 600;
    font-size: 2em;
}

.work-title {
    top: 32vh;
    left: 18vw;
    rotate: -90deg;
    width: 60vw;

}

.work-bar {
    position: relative;
    content: "";
    background: #4a4a4a;
    top: 55.2vh;
    left: -25vw;
    width: 53vw;
    height: 0.9vh;
    z-index: -1;
    rotate: -90deg;
}

.work img {
    position: relative;
    width: 11vw;
    height: auto;
}

.dartmouth img {
    left: -43vw;
    top: 22vh;
}

.dartmouth h2,
.dartmouth h3,
.dartmouth p {
    color: #4a4a4a;
    position: relative;
    top: 2vh;
    left: -31vw;
    max-width: 60vh;
}

.ivl img {
    position: relative;
    left: -65vw;
    top: 45vh;
}

.ivl h2,
.ivl h3,
.ivl p {
    color: #4a4a4a;
    position: relative;
    top: 25vh;
    left: -53vw;
    max-width: 65vh;
}

.heng img {
    left: -89vw;
    top: 68vh;
}

.heng h2,
.heng h3,
.heng p {
    color: #4a4a4a;
    position: relative;
    top: 48vh;
    left: -77vw;
    max-width: 60vh;
}

.projects h1 {
    position: relative;
    left: 60vw;
    top: -20vh;
}

.project-bar {
    position: relative;
    content: "";
    background: #4a4a4a;
    top: -9vh;
    left: 36vw;
    width: 24vw;
    height: 0.9vh;
    z-index: -1;
}

.yacht img {
    position: relative;
    width: 40vw;
    top: 25vh;
    left: -15vw;
}

.yacht p {
    position: relative;
    color: #4a4a4a;
    top: -55vh;
    left: -13vw;
    max-width: 30vw;
    font-size: 1.1em;
    text-align: left;
}

.moxopal img {
    position: relative;
    width: 25vw;
    top: 10vh;
    left: 38vw;
    z-index: 10;
}

.moxopal p {
    position: relative;
    color: #4a4a4a;
    top: -42vh;
    left: 17.5vw;
    max-width: 40vw;
    font-size: 1.1em;
    text-align: left;
}

.slide-in-down {
    animation: slideInDown 1s ease forwards;
}

.slide-out-up {
    animation: slideOutUp 1s ease forwards;
}

.slide-in-left {
    animation: slideInLeft 1s ease forwards;
}

.slide-out-right {
    animation: slideOutRight 1s ease forwards;
}

.slide-in-right {
    animation: slideInRight 1s ease forwards;
}

.slide-out-left {
    animation: slideOutLeft 1s ease forwards;
}

.slide-in-up {
    animation: slideInUp 1s ease forwards;
}

.slide-out-down {
    animation: slideOutDown 1s ease forwards;
}