.experiences-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    max-height: 80vh;
    overflow: visible;
}

.languages-carousel {
    position: relative;
    top: -690px;
    left: -40px;
    width: 1710px;
    overflow: hidden;
    padding: 20px 0;
    background: transparent;
}

.carousel-track {
    display: flex;
    width: fit-content;
    animation: scroll-left 25s linear infinite;
}

.carousel-track img {
    position: relative;
    width: 50px;
    height: auto;
    margin: 0 30px;
}

.work,
.projects {
    display: flex;
    align-items: left;
    justify-content: center;
    position: relative;
}

.experiences-container h1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-size: 5em;
    color: #4a4a4a;
}

.experiences-container h2 {
    font-weight: 600;
    font-size: 2em;
}

.work-title {
    rotate: -90deg;
    top: 430px;
    left: -205px;
}

.work-bar {
    position: absolute;
    content: "";
    background: #4a4a4a;
    top: 490px;
    left: -150px;
    width: 617px;
    height: 8px;
    z-index: -1;
    rotate: -90deg;
}

.work img {
    position: absolute;
    width: 150px;
    height: auto;
}

.dartmouth img {
    left: 180px;
    top: 220px;
}

.dartmouth h2,
.dartmouth h3,
.dartmouth p {
    color: #4a4a4a;
    position: relative;
    top: 210px;
    left: 360px;
    max-width: 700px;
}

.ivl img {
    left: 180px;
    top: 420px;
}

.ivl h2,
.ivl h3,
.ivl p {
    color: #4a4a4a;
    position: relative;
    top: 400px;
    left: -180px;
    max-width: 700px;
}

.heng img {
    left: 180px;
    top: 610px;
}

.heng h2,
.heng h3,
.heng p {
    color: #4a4a4a;
    position: relative;
    top: 600px;
    left: -720px;
    max-width: 700px;
}

.projects h1 {
    left: 600px;
}

.project-bar {
    position: absolute;
    content: "";
    background: #4a4a4a;
    top: 110px;
    left: 603px;
    width: 410px;
    height: 8px;
    z-index: -1;
}

.yacht img {
    position: absolute;
    width: 650px;
    top: 450px;
    left: 530px;
}

.yacht p {
    position: relative;
    color: #4a4a4a;
    top: 260px;
    left: 270px;
    max-width: 550px;
    font-size: 1.1em;
    text-align: left;
}

.moxopal img {
    position: absolute;
    width: 400px;
    top: 350px;
    left: 900px;
    z-index: 10;
}

.moxopal p {
    position: relative;
    color: #4a4a4a;
    top: 130px;
    left: 600px;
    max-width: 330px;
    font-size: 1.1em;
    text-align: left;
}

.slide-in-down {
    animation: slideInDown 1s ease forwards;
}

.slide-out-up {
    animation: slideOutUp 1s ease forwards;
}

.slide-in-left {
    animation: slideInLeft 1s ease forwards;
}

.slide-out-right {
    animation: slideOutRight 1s ease forwards;
}

.slide-in-right {
    animation: slideInRight 1s ease forwards;
}

.slide-out-left {
    animation: slideOutLeft 1s ease forwards;
}

.slide-in-up {
    animation: slideInUp 1s ease forwards;
}

.slide-out-down {
    animation: slideOutDown 1s ease forwards;
}