involvement-container {
    position: relative;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: row;
    align-items: center;
    max-height: 80vh;
    overflow: visible;
}

.involvement-header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #4a4a4a;
    position: relative;
    top: 15vh;
    left: 10vw;
    font-size: 3.3em;
}

#involvement p {
    position: relative;
    font-size: 1.3em;
    max-width: 40vw;
    top: 16vh;
    left: 10.5vw;
    text-align: justify;
}

.opal img,
.tsa img,
.ismp img,
.aapihm img,
.dartslam img {
    position: relative;
    width: 100px;
    height: auto;
}

.opal img {
    width: 13vw;
    top: -25vh;
    left: 60vw;
}

.tsa img {
    width: 12vw;
    top: -75vh;
    left: 73vw;
    z-index: -1;
}

.ismp img {
    width: 10vw;
    top: -55vh;
    left: 87vw;
}

.aapihm img {
    width: 10vw;
    top: -80vh;
    left: 83vw;
}

.dartslam img {
    width: 10vw;
    top: -94vh;
    left: 72vw;
}